.new-goal-form {
    width: 100%;
}

.form-control > label {
    display: block;
    font-size: 1.4em;
    font-weight: 700;
}

.form-control > input {
    width: 100%;
    border: 1px solid #c0bfbf;
    padding: 5px 10px;
    font-size: 1.25em;
    outline: none;
    margin-top: 10px;
}

.form-control > button[type="submit"] {
    background-color: var(--color2);
    border: none;
    padding: 10px 30px;
    font-size: 1.25em;
    color: var(--color1);
    cursor: pointer;
    margin-top: 10px;
}

.form-control.invalid > label {
    color: var(--color4);
}

.form-control.invalid > input {
    border-color: var(--color4);
    background-color: salmon;
}
