.login {
    padding: 40px;
}

.login-form {
    width: 100%;
}

.login-form--inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form--submit {
    padding: 12.5px 60px;
    font-size: 1.3em;
    font-weight: 500;
    background-color: var(--color2);
    display: block;
    margin: 20px auto 0 auto;
    color: var(--color4);
    cursor: pointer;
}

.login-form--submit:disabled {
    background-color: #c6c6c6;
    color: #4d4d4d;
    cursor: unset;
}
