* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html {
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

body {
    min-height: 100%;
    background-color: darkslategray;
}
